In [2]:
import pandas as pd
import numpy as np

In [3]:
covid=pd.read_csv('dataset/Latest Covid-19 India Status.csv')

 ## 1. Print First And Last 10 Values From The Dataframe?

In [ ]:
covid.head(10)

In [ ]:
covid.tail(10)

## 2. How many Rows & Columns in Dataframe?

In [ ]:
print('Number of Rows = ',covid.shape[0])
print('Number of columns = ',covid.shape[1])

## 3. Display Data Types Of Each Column?

In [ ]:
covid.dtypes

## 4. Find Out The State Which Has Minimum Total Cases?

In [4]:
covid.loc[covid['Total Cases'].idxmin(), 'State/UTs']

'Andaman and Nicobar'

In [5]:
covid.loc[covid['Total Cases'].idxmin()]

State/UTs          Andaman and Nicobar
Total Cases                      10766
Active                               0
Discharged                       10637
Deaths                             129
Active Ratio                       0.0
Discharge Ratio                   98.8
Death Ratio                        1.2
Population                   100896618
Name: 0, dtype: object

## 5. Find Out The State Which Has Maximum Total Cases?

In [5]:
covid.loc[covid['Total Cases'].idxmax(), 'State/UTs']

'Maharashtra'

## 6. Display All States Of India From DataFrame?

In [6]:
covid["State/UTs"]

0                          Andaman and Nicobar
1                               Andhra Pradesh
2                            Arunachal Pradesh
3                                        Assam
4                                        Bihar
5                                   Chandigarh
6                                 Chhattisgarh
7     Dadra and Nagar Haveli and Daman and Diu
8                                        Delhi
9                                          Goa
10                                     Gujarat
11                                     Haryana
12                            Himachal Pradesh
13                           Jammu and Kashmir
14                                   Jharkhand
15                                   Karnataka
16                                      Kerala
17                                      Ladakh
18                                 Lakshadweep
19                              Madhya Pradesh
20                                 Maharashtra
21                                     Manipur
22                                   Meghalaya
23                                     Mizoram
24                                    Nagaland
25                                      Odisha
26                                  Puducherry
27                                      Punjab
28                                   Rajasthan
29                                      Sikkim
30                                  Tamil Nadu
31                                   Telengana
32                                     Tripura
33                               Uttar Pradesh
34                                 Uttarakhand
35                                 West Bengal
Name: State/UTs, dtype: object

In [ ]:
pd.DataFrame(covid["State/UTs"])

## 7. Display All The Data Of States Having Deaths Greater Than 10000?

In [7]:
covid[(covid['Deaths']>10000)]

,State/UTs,Total Cases,Active,Discharged,Deaths,Active Ratio,Discharge Ratio,Death Ratio,Population
1,Andhra Pradesh,2340676,0,2325943,14733,0.00,99.37,0.63,128500364
4,Bihar,855267,1,842952,12314,0.00,98.56,1.44,40100376
6,Chhattisgarh,1187695,0,1173505,14190,0.00,98.81,1.19,28900667
8,Delhi,2040910,14,2014230,26666,0.00,98.69,1.31,773997
10,Gujarat,1291383,5,1280299,11079,0.00,99.14,0.86,70400153
11,Haryana,1078903,27,1068121,10755,0.00,99.00,1.00,7503010
15,Karnataka,4088769,12,4048399,40358,0.00,99.01,0.99,1711947
16,Kerala,6907241,18,6835181,72042,0.00,98.96,1.04,91702478
19,Madhya Pradesh,1056351,0,1045565,10786,0.00,98.98,1.02,14999397
20,Maharashtra,8171048,214,8022276,148558,0.00,98.18,1.82,399001
27,Punjab,793644,1233,773073,19338,0.16,97.41,2.44,34698876
30,Tamil Nadu,3610655,5,3572569,38081,0.00,98.95,1.05,35998752
33,Uttar Pradesh,2145431,57,2121662,23712,0.00,98.89,1.11,1158040
35,West Bengal,2126282,135,2104592,21555,0.01,98.98,1.01,32199722

## 8. Count The Total Cases Of India?

In [8]:
covid['Total Cases'].sum()

44999085

## 9. What is the Death Ratio Of Maharashtra?

In [11]:
covid['Death Ratio'][20]

1.82

In [12]:
covid[covid['State/UTs']=='Maharashtra']['Death Ratio']

20    1.82
Name: Death Ratio, dtype: float64

## 10. Which State Has Minimum Death Ratio?

In [13]:
covid.loc[covid['Death Ratio'].idxmin(), 'State/UTs']

'Dadra and Nagar Haveli and Daman and Diu'

In [14]:
covid[covid['Death Ratio'] == covid['Death Ratio'].min()]['State/UTs'].values[0]

'Dadra and Nagar Haveli and Daman and Diu'

## 11. Find Out The Discharged Patients From The States Maharashtra,Karnataka,MP,Gujrat?

In [12]:
covid[covid['State/UTs'].isin(['Maharashtra', 'Karnataka', 'Madhya Pradesh', 'Gujarat'])]['Discharged']

10    1280299
15    4048399
19    1045565
20    8022276
Name: Discharged, dtype: int64

In [24]:
print('Discharged patient from Maharashtra=',covid['Discharged'][20])
print('Discharged patient from Karnataka=',covid['Discharged'][15])
print('Discharged patient from Madhya Pradesh=',covid['Discharged'][19])
print('Discharged patient from Gujarat=',covid['Discharged'][10])

Discharged patient from Maharashtra= 8022276
Discharged patient from Karnataka= 4048399
Discharged patient from Madhya Pradesh= 1045565
Discharged patient from Gujarat= 1280299

## 12. Find Out The States Having Total Cases between 1 lac to 5 lac?

In [24]:
covid[(covid['Total Cases']>100000) & (covid['Total Cases']<500000)]

,State/UTs,Total Cases,Active,Discharged,Deaths,Active Ratio,Discharge Ratio,Death Ratio,Population
5,Chandigarh,100693,0,99508,1185,0.0,98.82,1.18,30501026
9,Goa,263346,3,259329,4014,0.0,98.47,1.52,3772103
12,Himachal Pradesh,322905,4,318660,4241,0.0,98.69,1.31,3436948
13,Jammu and Kashmir,482023,0,477231,4792,0.0,99.01,0.99,66001
14,Jharkhand,443826,1,438491,5334,0.0,98.80,1.20,124904071
21,Manipur,140034,0,137885,2149,0.0,98.47,1.53,47099270
23,Mizoram,239560,1,238825,734,0.0,99.69,0.31,1308967
26,Puducherry,177547,0,175566,1981,0.0,98.88,1.12,2073074
32,Tripura,108493,1,107550,942,0.0,99.13,0.87,1646050
34,Uttarakhand,452571,0,444803,7768,0.0,98.28,1.72,85002417

In [34]:
covid[(covid['Total Cases']>100000) & (covid['Total Cases']<500000)]['State/UTs']

5            Chandigarh
9                   Goa
12     Himachal Pradesh
13    Jammu and Kashmir
14            Jharkhand
21              Manipur
23              Mizoram
26           Puducherry
32              Tripura
34          Uttarakhand
Name: State/UTs, dtype: object

## 13. Display All The Data Of The States Which Has Active Cases Less Than 1000?

In [26]:
m=covid[(covid['Active']<1000)]
m

,State/UTs,Total Cases,Active,Discharged,Deaths,Active Ratio,Discharge Ratio,Death Ratio,Population
0,Andaman and Nicobar,10766,0,10637,129,0.00,98.80,1.20,100896618
1,Andhra Pradesh,2340676,0,2325943,14733,0.00,99.37,0.63,128500364
2,Arunachal Pradesh,67049,0,66753,296,0.00,99.56,0.44,658019
3,Assam,746159,5,738119,8035,0.00,98.92,1.08,290492
4,Bihar,855267,1,842952,12314,0.00,98.56,1.44,40100376
5,Chandigarh,100693,0,99508,1185,0.00,98.82,1.18,30501026
6,Chhattisgarh,1187695,0,1173505,14190,0.00,98.81,1.19,28900667
7,Dadra and Nagar Haveli and Daman and Diu,11592,0,11588,4,0.00,99.97,0.03,231502578
8,Delhi,2040910,14,2014230,26666,0.00,98.69,1.31,773997
9,Goa,263346,3,259329,4014,0.00,98.47,1.52,3772103
10,Gujarat,1291383,5,1280299,11079,0.00,99.14,0.86,70400153
11,Haryana,1078903,27,1068121,10755,0.00,99.00,1.00,7503010
12,Himachal Pradesh,322905,4,318660,4241,0.00,98.69,1.31,3436948
13,Jammu and Kashmir,482023,0,477231,4792,0.00,99.01,0.99,66001
14,Jharkhand,443826,1,438491,5334,0.00,98.80,1.20,124904071
15,Karnataka,4088769,12,4048399,40358,0.00,99.01,0.99,1711947
16,Kerala,6907241,18,6835181,72042,0.00,98.96,1.04,91702478
17,Ladakh,29602,0,29371,231,0.00,99.22,0.78,4184959
18,Lakshadweep,11415,0,11363,52,0.00,99.54,0.46,11700099
19,Madhya Pradesh,1056351,0,1045565,10786,0.00,98.98,1.02,14999397
20,Maharashtra,8171048,214,8022276,148558,0.00,98.18,1.82,399001
21,Manipur,140034,0,137885,2149,0.00,98.47,1.53,47099270
22,Meghalaya,96983,3,95352,1628,0.00,98.32,1.68,79502477
23,Mizoram,239560,1,238825,734,0.00,99.69,0.31,1308967
24,Nagaland,36033,0,35251,782,0.00,97.83,2.17,38157311
25,Odisha,1348409,59,1339135,9215,0.00,99.31,0.68,19301096
26,Puducherry,177547,0,175566,1981,0.00,98.88,1.12,2073074
28,Rajasthan,1326465,2,1316727,9736,0.00,99.27,0.73,1521992
29,Sikkim,44927,4,44422,501,0.01,98.88,1.12,83697770
30,Tamil Nadu,3610655,5,3572569,38081,0.00,98.95,1.05,35998752
31,Telengana,844432,8,840313,4111,0.00,99.51,0.49,69599762
32,Tripura,108493,1,107550,942,0.00,99.13,0.87,1646050
33,Uttar Pradesh,2145431,57,2121662,23712,0.00,98.89,1.11,1158040
34,Uttarakhand,452571,0,444803,7768,0.00,98.28,1.72,85002417
35,West Bengal,2126282,135,2104592,21555,0.01,98.98,1.01,32199722

 ## 14. Make A Separate CSV File Of Data Of The States Which Has Active Cases Less Than 1000?

In [ ]:
m.to_csv('dataset/states.csv',index=False)

## 15. Total Number Of Deaths In India?

In [27]:
covid['Deaths'].sum()

532027

## 16. Top 10 highest Population States in India?

In [29]:
covid.sort_values(by='Population',ascending=False).head(10)

,State/UTs,Total Cases,Active,Discharged,Deaths,Active Ratio,Discharge Ratio,Death Ratio,Population
7,Dadra and Nagar Haveli and Daman and Diu,11592,0,11588,4,0.00,99.97,0.03,231502578
1,Andhra Pradesh,2340676,0,2325943,14733,0.00,99.37,0.63,128500364
14,Jharkhand,443826,1,438491,5334,0.00,98.80,1.20,124904071
0,Andaman and Nicobar,10766,0,10637,129,0.00,98.80,1.20,100896618
16,Kerala,6907241,18,6835181,72042,0.00,98.96,1.04,91702478
34,Uttarakhand,452571,0,444803,7768,0.00,98.28,1.72,85002417
29,Sikkim,44927,4,44422,501,0.01,98.88,1.12,83697770
22,Meghalaya,96983,3,95352,1628,0.00,98.32,1.68,79502477
10,Gujarat,1291383,5,1280299,11079,0.00,99.14,0.86,70400153
31,Telengana,844432,8,840313,4111,0.00,99.51,0.49,69599762

In [32]:
covid.loc[covid.sort_values(by='Population',ascending=False).index.tolist(),['State/UTs','Population']].head(10)

                                   State/UTs  Population
7   Dadra and Nagar Haveli and Daman and Diu   231502578
1                             Andhra Pradesh   128500364
14                                 Jharkhand   124904071
0                        Andaman and Nicobar   100896618
16                                    Kerala    91702478
34                               Uttarakhand    85002417
29                                    Sikkim    83697770
22                                 Meghalaya    79502477
10                                   Gujarat    70400153
31                                 Telengana    69599762